.App{
  background-color: white;
  width: 400px;
  border-radius: 5px;
  height: auto;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 20px 20px 15px 4px #fb75a8;
}
.App h1{
  margin: 0;
  margin-bottom: 2rem;
}
button{
  outline: none;
  border: none;
  width: 100%;
  font-size: 26px;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  color: white;
  background: linear-gradient(
    90deg
    , #F073C8 0%, #FF6A95 99%);
}